.btn {
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: white;
    color: black;
    opacity: 0.8;
}

.hide {
    display: none;
}
